.headOne {
  background-color: #515151;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
}
.containerOne {
  margin: 3% auto;
  max-width: 571px;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #818181;
  box-shadow: 10px 10px 20px #656566;
}
.fw {
  font-weight: bold;
}
