* {
  margin: 0;
  padding: 0;
}

.create-heading {
  background-color: #454545;
  padding: 8px 10px;
  margin: 0;
  border-radius: 3px 3px 0 0;
}

.interview-heading {
  background-color: #454545;
  padding: 8px 10px;
  margin-bottom: 8px;
  border-radius: 3px;
}

.main-container {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.form {
  padding-left: 60px;
  margin-right: 100px;
  flex: 1;
}

#cv::file-selector-button {
  font-weight: bold;
  color: #fff;
  background-color: #000;
  padding: 0.5em;
  border: thin solid white;
  border-radius: 3px;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.submitbtn {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  padding: 6px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}

.searchbtn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
  margin-left: 10px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 14px;
}

.error {
  color: red;
}

@media screen and (max-width: 1000px) {
  .main-container {
    display: block;
  }
}
