.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

.nav-item {
  color: white;
}

.nav-item a {
  text-decoration: none;
  color: inherit;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.status-update-form {
  margin: 0 auto 50px;
  max-width: 700px;
  width: 100%;
}
.daily-status {
  text-align: center;
  display: block;
}

.daily-status-btn {
  border: none;
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  padding: 6px 60px;
  margin-top: 65px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0d6efd;
}

.delete_btn {
  margin-left: 750px;
  display: block;
  padding: 5px 5px;
  margin-top: -80px;
}
.delete_buttonInner {
  background-color: rgb(134, 30, 16);
  width: 20px;
  height: 30px;
  opacity: 1;
}
.save_send_btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
}
.daily-statusSave {
  margin-right: 150px;
}

.daily-status-savebtn {
  border: none;
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  padding: 10px 60px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #f0ad4e;
}
.daily-status-sendbtn {
  text-align: center;
  display: block;
}

.daily-status-btnsend {
  border: none;
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  padding: 10px 60px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: rgb(11 154 61 / 80%);
}
.status_header {
  display: flex;
}
.eyeicon {
  max-width: 100px;
  width: 100%;
  background: #5bc0de;
  color: #ccc;
  border-color: #46b8da;
  border-radius: 4x;
  margin: 10px;
  padding: 8px;
  text-align: center;
}
.Edit_icon {
  max-width: 100px;
  width: 100%;
  background: #337ab7;
  color: #ccc;
  border-color: #337ab7;
  border-radius: 4x;
  margin: 10px;
  padding: 8px;
  text-align: center;
}
.dashboard_header {
  height: "100vh";
  background: "#f3f3f3";
}
.status {
  color: #ccc;
}

.date_picker_input {
  background-color: "#333";
  color: "#fff";
  border: 1px solid #fff;
  padding: 10px;
}

.date_picker_calendar {
  background-color: "#333";
  color: "#fff";
}

.justify-content-center {
  display: "flex" !important;
  justify-content: center !important;
  align-items: "center" !important;
}
.status-update-form-main {
  margin: 0 auto 50px;
  max-width: 700px;
  padding-top: 20px;
}
.panel-heading {
  background-color: #000;
}
.panel-title {
  color: #ccc;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: inherit;
  text-transform: capitalize;
  text-align: start;
  margin: 5px;
}
.available_container {
  display: flex;
  font-weight: 600;
  padding-top: 15px;
  font-size: 16px;
  margin-bottom: 0;
  color: #ccc;
}
.available_p {
  font-weight: 600;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 0;
  color: #ccc;
  margin-right: 250px;
}
.available_p_link {
  color: #ccc;
}
.Available_heading {
  font-weight: 600;
  padding: 0 15px;
  font-size: 16px;
}
.project_select {
  background-color: #000;
  color: #ccc;
}
.status_select {
  background-color: #000;
  color: #ccc;
}

.custom-datepicker {
  background-color: #ffffff;
  color: #000000;
}

@media (prefers-color-scheme: dark) {
  .custom-datepicker {
    background-color: #333333;
    color: #ffffff;
  }
}
.emailContrainer {
  display: flex;
  padding-top: 20px;
}

.tomail {
  padding-right: 50px;
  max-width: 700px !important ;
  height: 100px;
}
.ccstatus {
  padding-right: 50px;
}

.addtask {
  margin-top: 20px;
}
.taskContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 2;
  padding-top: 20px;
}
.working_hour {
  margin-left: 220px !important;
  margin-top: -25px;
  padding-right: 20px;
}
.status_task {
  margin-left: 450px !important;
  margin-top: -25px;
}
.task {
  margin-top: 20px;
}
.task:focus {
  border-color: #2e6da4;
}
.task-input {
  border: 1px solid #ccc;
  color: #f4f7f8;
  background-color: #039eec;
  border-radius: 0;
  max-width: 100%;
  resize: none;
  width: 100%;
  min-height: 100px;
  padding: 8px;
  background: transparent;
}
.task-input:focus {
  border-color: red !important;
}
