
.form-label {
  margin-bottom: 0.5rem;
  color: cadetblue;
}
.new{
  background-color: #191c24;  
  transition: 1s;
  padding-inline: 20px;
  padding-block: 35px;
  border-radius: 0 0px 20px 20px;
}

.new:hover{
  box-shadow: 0 0 5px #60c2cf;
  transition: 1s;
}
.text-white {
  color:  #bdb9b9  !important;
}

td{
  color: #bdb9b9 !important;
}

th{
  color: cadetblue;
}

h6{
  color: #9ba1c7;
}

.border-color{
  border: 1px solid  rgb(72, 78, 78);
  padding: 10px;
  margin-bottom: 25px;
}

.form-select{
  color: #bdb9b9 !important;
}

.form-control{
  color: #bdb9b9 !important;
}

.taskDetails{
  padding-block: 25px;
  border-top: 1px solid #626577;
  border-bottom: 1px solid #626577;
}
/* ------------------------------------------------------------------ */
