.log-in-form {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  margin: 0 auto;
  max-width: 500px;
  overflow: hidden;
  width: 100%;
  font-family: "Lato", sans-serif;
}

.log-in-form2 {
  text-transform: uppercase;
  margin: 0;
  padding: 40px 10px 10px;
  text-align: center;
  letter-spacing: 1px;
  color: #fff;
}

.log-in-form .email-custom input {
  border-style: none none solid;
  border-color: transparent transparent #fff;
  border-width: 0 0 2px;
  background: transparent;
  border-radius: 0;
  margin: 30px 0;
  padding: 0 35px;
  max-width: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  box-shadow: none;
}
.log-in-btn {
  text-align: center;
  display: block;
}
.inputButton {
  border: none;
  border-radius: 45px;
  color: #fff;
  font-size: 16px;
  padding: 10px 60px;
  margin-top: 40px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #398439;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.body {
  background: url(https://portal.bestpeers.com/assets/bg-gradient-9eb41eb32db298bd2949e2d70713af2954b983072b81f0ea9ebb3bb8b44082e2.jpg)
    no-repeat;
  background-size: cover;
  font-family: "Lato", sans-serif;
  font-family: "Lato", sans-serif;
  height: 100vh;
  z-index: 1;
}
